[submodule "RayEngine/vendor/spdlog"]
	path = RayEngine/vendor/spdlog
	url = https://github.com/ThatTanishqTak/spdlog.git
[submodule "RayEngine/vendor/imgui"]
	path = RayEngine/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
	branch = docking
